amqp==2.6.0
autopep8==1.5.1
billiard==3.6.3.0
boto==2.49.0
boto3==1.13.18
botocore==1.16.18
celery==4.4.5
click==7.1.1
DateTime==4.3
docutils==0.15.2
Flask==1.1.2
Flask-Admin==1.5.6
Flask-Images==3.0.2
Flask-Limiter==1.2.1
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
flask-cors
future==0.18.2
gunicorn==20.0.4
importlib-metadata==1.6.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
kombu==4.6.10
limits==1.5.1
MarkupSafe==1.1.1
numpy==1.18.2
Pillow==7.1.1
pillowcase==2.0.0
psycopg2-binary
pycodestyle==2.5.0
python-dateutil==2.8.1
pytz==2019.3
redis==3.5.3
s3transfer==0.3.3
six==1.14.0
SQLAlchemy==1.3.16
urllib3==1.25.9
vine==1.3.0
waitress==1.4.3
Werkzeug==1.0.1
WTForms==2.2.1
zipp==3.1.0
zope.interface==5.1.0
